.card {
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-top: 56px;
    padding: 16px 24px 24px 24px;
    width: 320px;
}

.card > p:first-of-type {
    padding-top: 8px;
}

.card > p {
    padding-bottom: 8px;
}

.icon {
    margin: 24px 24px 0 0;
}

.icon > img {
    height: 32px;
    width: 32px;
}
