header {
    background-color: #f6f6f6;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    height: 64px;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
}

header > .logout {
    cursor: pointer;
    position: fixed;
    right: 20px;
    top: 20px;
}

header > .ribbon {
    position: fixed;
    right: 0;
    top: 0;
}

header > p {
    font-size: 18px;
    font-style: italic;
    line-height: 64px;
    margin: 0;
    padding-left: 32px;
}

.authenticated {
    width: calc(100% - 256px);
}
